.DS_Store
individual_implementations/.DS_Store
BTG_xinran/test/2020-2-22-Optimize BTG.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints
BTG_xinran/src/Test_0319.ipynb
BTG_xinran/src/Test_CI.ipynb
BayesTransformedGaussian/examples/Test_statistics.ipynb
BayesTransformedGaussian/examples/Test_kernel.ipynb
BayesTransformedGaussian/src/test/test_quantile.ipynb
BayesTransformedGaussian/src/test/test_quantile.jl
