.DS_Store
individual_implementations/.DS_Store
BTG_xinran/test/2020-2-22-Optimize BTG.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints
BTG_xinran/src/Test_0319.ipynb
BTG_xinran/src/Test_CI.ipynb
BayesTransformedGaussian/examples/Test_statistics.ipynb
BayesTransformedGaussian/examples/Test_kernel.ipynb
BayesTransformedGaussian/src/test/test_quantile.ipynb
BayesTransformedGaussian/src/test/test_quantile.jl
.gitignore
BayesTransformedGaussian/src/test/Untitled.ipynb
BayesTransformedGaussian/src/test/Test_MC.ipynb
BayesTransformedGaussian/src/test/Test_validation.ipynb
BayesTransformedGaussian/src/test/Test_sparsegrid.ipynb
BayesTransformedGaussian/src/test/.ipynb
BayesTransformedGaussian/src/test/Test_validation2.ipynb
BayesTransformedGaussian/src/test/Test_validation3.ipynb
BayesTransformedGaussian/src/test/figure/test_validation4_false.pdf
BayesTransformedGaussian/src/test/figure/test_validation4_true.pdf
BayesTransformedGaussian/src/test/figure/test_validation5_true.pdf
BayesTransformedGaussian/src/test/figure/test_validation5_false.pdf
BayesTransformedGaussian/src/test/figure/test_validation4.pdf
BayesTransformedGaussian/src/test/test_validation5_full.txt
BayesTransformedGaussian/src/test/Test_quantile.ipynb
BayesTransformedGaussian/src/experiment/test_writelog.jl
BayesTransformedGaussian/src/experiment/Test_writelog.txt
BayesTransformedGaussian/src/experiment/Test_gp.ipynb
BayesTransformedGaussian/src/experiment/Test_exp_abalone.ipynb
BayesTransformedGaussian/src/experiment/Test_creep.ipynb
