.DS_Store
individual_implementations/.DS_Store
BTG_xinran/test/2020-2-22-Optimize BTG.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints
BTG_xinran/src/Test_0319.ipynb
BTG_xinran/src/Test_CI.ipynb
BayesTransformedGaussian/examples/Test_statistics.ipynb
BayesTransformedGaussian/examples/Test_kernel.ipynb
BayesTransformedGaussian/src/test/test_quantile.ipynb
BayesTransformedGaussian/src/test/test_quantile.jl
.gitignore
BayesTransformedGaussian/src/test/Untitled.ipynb
BayesTransformedGaussian/src/test/Test_MC.ipynb
BayesTransformedGaussian/src/test/Test_validation.ipynb
BayesTransformedGaussian/src/test/Test_sparsegrid.ipynb
BayesTransformedGaussian/src/test/.ipynb
BayesTransformedGaussian/src/test/Test_validation2.ipynb
BayesTransformedGaussian/src/test/Test_validation3.ipynb
BayesTransformedGaussian/src/test/figure/test_validation4_false.pdf
BayesTransformedGaussian/src/test/figure/test_validation4_true.pdf
BayesTransformedGaussian/src/test/figure/test_validation5_true.pdf
BayesTransformedGaussian/src/test/figure/test_validation5_false.pdf
BayesTransformedGaussian/src/test/figure/test_validation4.pdf
BayesTransformedGaussian/src/test/test_validation5_full.txt
BayesTransformedGaussian/src/test/Test_quantile.ipynb
BayesTransformedGaussian/src/experiment/test_writelog.jl
BayesTransformedGaussian/src/experiment/Test_writelog.txt
BayesTransformedGaussian/src/experiment/Test_gp.ipynb
BayesTransformedGaussian/src/experiment/Test_exp_abalone.ipynb
BayesTransformedGaussian/src/experiment/Test_creep.ipynb
BayesTransformedGaussian/src/experiment/log_abalone_qmc_m_posc3.txt
BayesTransformedGaussian/src/experiment/log_abalone_qmc_s_posc3.txt
BayesTransformedGaussian/src/experiment/log_abalone_sparse_m_posc7.txt
BayesTransformedGaussian/src/experiment/log_abalone_sparse_s_posc3.txt
BayesTransformedGaussian/src/experiment/log_abalone_sparse_m_posc3.txt
BayesTransformedGaussian/src/experiment/log_abalone_sparse_s_posc7.txt
BayesTransformedGaussian/src/experiment/Test_exp_abalone.ipynb
BayesTransformedGaussian/src/experiment/log_abalone_qmc_s_posc7.txt
BayesTransformedGaussian/src/experiment/log_abalone_qmc_m_posc7.txt
BayesTransformedGaussian/src/experiment/log_creep_qmc_s_posc30.txt
BayesTransformedGaussian/src/experiment/log_creep_sparse_s_posc30.txt
BayesTransformedGaussian/src/experiment/exp_single_test.sh
BayesTransformedGaussian/src/experiment/log_creep_qmc_m_posc30.txt
BayesTransformedGaussian/src/experiment/Untitled.ipynb
BayesTransformedGaussian/src/experiment/error analysis.ipynb
BayesTransformedGaussian/src/experiment/exp_creep.ipynb
BayesTransformedGaussian/src/experiment/synthetic/Untitled.ipynb
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise1_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise1_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise1_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise2_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise2_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise2_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise3_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise3_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise3_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise4_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise4_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise4_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise5_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise5_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_3_20_noise5_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise1_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise1_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise1_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise2_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise2_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise2_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise3_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise3_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise3_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise4_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise4_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise4_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise5_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise5_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_4_20_noise5_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise1_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise1_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise1_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise2_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise2_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise2_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise3_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise3_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise3_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise4_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise4_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise4_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise5_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise5_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_btg_range_5_20_noise5_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise1_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise1_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise1_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise2_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise2_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise2_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise3_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise3_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise3_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise4_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise4_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise4_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise5_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise5_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_3_20_noise5_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise1_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise1_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise1_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise2_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise2_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise2_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise3_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise3_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise3_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise4_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise4_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise4_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise5_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise5_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise5_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_4_20_noise5.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise1_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise1_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise1_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise2_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise2_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise2_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise3_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise3_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise3_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise4_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise4_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise4_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise5_randseed_123_p1.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise5_randseed_123_p2.pdf
BayesTransformedGaussian/src/experiment/synthetic/exp_synthetic1_compare_range_5_20_noise5_randseed_1234_p2.pdf
BayesTransformedGaussian/src/experiment/creep/Untitled.ipynb
BayesTransformedGaussian/src/experiment/creep/log_exp_creep_rand12_r3.txt
BayesTransformedGaussian/src/experiment/creep/log_exp_creep_rand13_r3.txt
BayesTransformedGaussian/src/experiment/creep/log_exp_creep_rand321_r3.txt
BayesTransformedGaussian/src/experiment/abalone/error analysis.ipynb
BayesTransformedGaussian/src/experiment/ailerons/test_ailerons.ipynb
BayesTransformedGaussian/src/experiment/creep/test_creep.ipynb
BayesTransformedGaussian/src/experiment/creep/log_exp_creep_range1.txt
BayesTransformedGaussian/src/experiment/creep/log_exp_creep_range2.txt
BayesTransformedGaussian/src/experiment/creep/log_exp_creep_range3.txt
BayesTransformedGaussian/src/experiment/creep/log_exp_creep_range4.txt
BayesTransformedGaussian/src/experiment/creep/log_exp_creep_range5.txt
BayesTransformedGaussian/src/experiment/abalone/log_exp_abalone_range1.txt
BayesTransformedGaussian/src/experiment/abalone/log_exp_abalone_range2.txt
BayesTransformedGaussian/src/experiment/abalone/log_exp_abalone_range3.txt
BayesTransformedGaussian/src/experiment/abalone/log_exp_abalone_range4.txt
BayesTransformedGaussian/src/experiment/set_goodrange.txt
BayesTransformedGaussian/src/experiment/ailerons/log_exp_aileron_range1.txt
BayesTransformedGaussian/src/experiment/abalone/exp_abalone_failedCI_1000_Gaussian_rθ_3000_6000_failedID_183.pdf
BayesTransformedGaussian/src/experiment/abalone/exp_abalone_failedCI_1000_Gaussian_rθ_3000_6000_failedID_196.pdf
BayesTransformedGaussian/src/experiment/abalone/exp_abalone_failedCI_1000_Gaussian_rθ_3000_6000_failedID_1500.pdf
BayesTransformedGaussian/src/experiment/abalone/exp_abalone_failedCI_1000_Gaussian_rθ_3000_6000_failedID_2404.pdf
BayesTransformedGaussian/src/experiment/abalone/exp_abalone_failedCI_1000_Gaussian_rθ_3000_6000_failedID_2591.pdf
BayesTransformedGaussian/src/experiment/abalone/exp_abalone_failedpdf_1000_Gaussian_rθ_3000_6000_failedID_183.pdf
BayesTransformedGaussian/src/experiment/abalone/exp_abalone_failedpdf_1000_Gaussian_rθ_3000_6000_failedID_2591.pdf
BayesTransformedGaussian/src/experiment/abalone/log_exp_abalone_inverseuniform_idtrans.txt
BayesTransformedGaussian/src/experiment/abalone/log_exp_abalone_inverseuniform.txt
BayesTransformedGaussian/src/experiment/abalone/log_exp_abalone_shiftedBoxCox.txt
BayesTransformedGaussian/src/experiment/abalone/log_exp_abalone_inverseuniform_rand123.txt
BayesTransformedGaussian/src/experiment/abalone/log_exp_abalone_inverseuniform_idtrans_rand123.txt
BayesTransformedGaussian/src/experiment/abalone/test_threads.jl
BayesTransformedGaussian/src/experiment/abalone/test_threads.sh
# BayesTransformedGaussian/src/experiment/abalone/Test_wrappers.ipynb
